.ivan{ 
    float: left;
    font-family: 'Times New Roman', 'Times Light', light;
    font-size: large;
    background-color: #b9b7b1;
    color: white;
    text-align: justify;
    
  }

  #left{
    vertical-align: center;
    margin: 2em;
    float: left;
    width: 40%;
    padding: 4%;
    
  }

  #right {
    margin: 3em;
    float: left;
    width: 33%;
    text-align: center; /* Center the image horizontally */
  }

 .title{
  font-size: 64px;
 }

 .description{
  font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
  font-size: 30px;
 }