body {
	background-image: url('https://media.istockphoto.com/id/1097185952/es/foto/fondo-de-textura-de-piso-de-madera-blanca.jpg?s=170667a&w=0&k=20&c=tLoiE2SUPIy4FAvvq9eKWZiDbuh1amDTQbS16XK7cTU=');
	background-repeat: no-repeat;
	background-size: cover;
}


header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

nav ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color:royalblue;
}

    a {
        text-decoration: none;
        color: #333;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    main {
        background-image: url('https://images.unsplash.com/photo-1619059356058-92bab5b09858?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHw%3D&w=1000&q=80');
        height: 50em;
        max-width: 800px;
        margin-top: 40px;
        margin-left: 250px;
        padding: 20px;
    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
        clear: both;
    }
    